.span10 {
  some: value;
}
.span9 {
  some: value;
}
.span8 {
  some: value;
}
.span7 {
  some: value;
}
.span6 {
  some: value;
}
.span5 {
  some: value;
}
.span4 {
  some: value;
}
.span3 {
  some: value;
}
.span2 {
  some: value;
}
.span1 {
  some: value;
}
