.galaxy.progress-100 {
  background-position: -1;
}
.galaxy.progress-90 {
  background-position: -1;
}
.galaxy.progress-80 {
  background-position: -1;
}
.galaxy.progress-70 {
  background-position: -1;
}
.galaxy.progress-60 {
  background-position: -1;
}
.galaxy.progress-50 {
  background-position: -1;
}
.galaxy.progress-40 {
  background-position: -1;
}
.galaxy.progress-30 {
  background-position: -1;
}
.galaxy.progress-20 {
  background-position: -1;
}
.galaxy.progress-10 {
  background-position: -1;
}
.galaxy .progress-0 {
  background-position: -1;
}
